.aside{
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  min-height: 100%;
  background: #001529;
}

.titleLogo{
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #002140;
  transition: all .3s;
}

.titleLogo img{
  display: inline-block;
  height: 32px;
  vertical-align: middle;
}

.titleLogo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

#root, body, html {
  height: 100%;
}
.home{
  width: 100%;
  height: 100%;
}

.layout-sider{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.layout-sider .main-page{
  width: calc(100% - 256px)
}

 .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

 .trigger:hover {
  color: #1890ff;
}


.userName{
  cursor: default
}

.siders{
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.layoutClass{
  transition: all 0.2s;
}